@page "/clientesList"
@using BlazorAppSistemaVendaBCC.Entities
@using BlazorAppSistemaVendaBCC.Service.Implementation
@using BlazorAppSistemaVendaBCC.Service.Interface
@inject IClientesService ClienteService
@inject NavigationManager NavManager
@rendermode InteractiveServer

<div class="container mt-4">
	<div class="card">
		<div class="card-header">
			Clientes Cadastrados
		</div>
		<div class="card-body">
			<div class="d-flex justify-content-between align-items-center mb-4">
				<h2>Clientes Cadastrados (@totalRegistros Registros)</h2>
				<button class="btn btn-primary" @onclick="NavegarParaCadastro">
				<i class="bi bi-plus-circle"></i>Novo Cliente
			</button>
			</div>
			@if(clientes==null){
				<div class="text-center">
					<div class="spinner-border text-info" role="status">
						<span class="visually-hidden">Carregando...</span>
					</div>
					<p>Carregando clientes...</p>
				</div>
			}else if(!clientes.Any() && totalRegistros==0){
				<div class="alert alert-info text-center" role="alert">
					Nenhum Cliente Cadastrado. 
					Clique em "Novo Cliente" para começar!
				</div>
			}else{
				<div class="table-responsive">
					<table class="table table-striped table-hover shadow-sm">
						<thead class="table-dark">
							<tr>
								<th>ID</th>
								<th>Nome</th>
								<th>CPF/CNPJ</th>
								<th>Email</th>
								<th>Telefone</th>
								<th class="text-center">Ações</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var cliente in clientes)
							{
								<tr>
									<td>@cliente.Id</td>
									<td>@cliente.Nome</td>
									<td>@cliente.CpfCnpj</td>
									<td>@cliente.Email</td>
									<td>@cliente.Telefone</td>
									<td class="text-center">
										<button class="btn btn-sm btn-info me-2" @onclick="() => NavegarParaEdicao(cliente.Id)">
											<i class="bi bi-pencil-square"></i> Editar
										</button>
										<button class="btn btn-sm btn-danger">
											<i class="bi bi-trash"></i> Excluir
										</button>
									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
			}
		</div>
	</div>
</div>

@code {
	//var do grid
	private IEnumerable<Cliente> clientes;
	private Cliente clienteParaExclusao;
	//var de paginação do grid
	private int paginaAtual = 1;
	private const int itensPorPagina = 5;
	private int totalRegistros = 0;
	private int totalPaginas => (int)Math.Ceiling((double)totalRegistros/itensPorPagina);

	protected override async Task OnInitializedAsync()
	{
		await CarregarClientes();
	}



	private async Task CarregarClientes(){
		var resultado = await ClienteService.ListarPaginado(paginaAtual, itensPorPagina);
		clientes = resultado.clientes;
		totalRegistros = resultado.TotalRegistros;

	}
	private async Task MudarPagina(int novaPagina){
		if(novaPagina>=1 && novaPagina<= totalPaginas){
			paginaAtual = novaPagina;
			await CarregarClientes();
		}
	}
	private void NavegarParaCadastro() => NavManager.NavigateTo("/cliente/novo");
	private void NavegarParaEdicao(int id) => NavManager.NavigateTo($"/cliente/{id}");
	//private void AbrirModalExclusao() => NavManager.NavigateTo("/cliente/excluir");
}
